@import url("https://fonts.googleapis.com/css2?family=Whisper&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap");
:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
  margin: 0;
  border: 0;
  /* overflow-x: hidden; */
}

.container b {
  font-size: x-large;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.container-fluid {
  padding: 15px;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
  background-color: #042c71;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Space out flex items */
  align-items: center; /* Vertically align items */
}

.Logos,
.Logos-f {
  display: flex;
  justify-content: center; /* Center logos */
  flex-wrap: wrap; /* Allow logos to wrap */
}

.Logos img,
.Logos-f img {
  width: auto; /* Responsive width */
  height: 69px; /* Fixed height */
  margin: 10px;
  max-width: 100%; /* Ensures images are not bigger than their container */
}

.page-title {
  text-align: center;
  flex-grow: 1; /* Allows title to take up available space */
  padding: 10px;
  font-size: 1em;
  /* Responsive font size */
}
/*Responsive code*/
/* General styles for .logind */
.logind {
  background-color: #008778;
  border-radius: 15px;
  padding: 6px;
  text-align: center; 
}

.logind h4{
  color: #fff;
  font: inherit;
  text-align: center;
  margin: 8px auto;
}

.logind a,
.logind button {
  color: aliceblue !important;
  text-decoration: none;
  cursor: pointer;
  font-size: small;
  transition: transform 0.3s ease-in-out;
  display: inline-block;
  overflow: hidden;
  position: relative;
  border: none; /* Remove border from buttons */
  background: none; /* Remove background from buttons */
  padding: 5px 10px; /* Padding for buttons */
}

.logind a:hover,
.logind button:hover {
  transform: scale(1.2);
}

/* Media query for smaller screens */
@media screen and (max-width: 767px) {
  .logind {
    padding: 5px; /* Adjust padding for smaller screens */
  }

  .logind a,
  .logind button {
    font-size: smaller; /* Adjust font size for smaller screens */
  }
}

/* .logind {
  background-color: #008778;
  border-radius: 25px;
  padding: 10px; */
/* margin-top: 25px; */
/* text-align: center; Center text */
/* } */

/* .logind a,
.logind button {
  color: aliceblue;
  text-decoration: none;
  cursor: pointer;
  font-size: small;
  transition: transform 0.3s ease-in-out;
  display: inline-block;
  overflow: hidden;
  position: relative;
  border: none; Remove border from buttons
  background: none; Remove background from buttons
  padding: 5px 10px; Padding for buttons */
/* } */

/* .logind a:hover,
.logind button:hover {
  transform: scale(1.2);
} */

/* Responsive adjustments */
@media (max-width: 768px) {
  .page-title {
    padding-left: 0; /* Remove padding at smaller screens */
    font-size: 0.8em; /* Smaller font size */
  }

  .Logos img,
  .Logos-f img {
    height: 50px; /* Smaller logos */
    justify-content: center;
  }

  .Logos-f img {
    padding-left: 0; /* Remove padding */
  }
}

@media (max-width: 480px) {
  .container-fluid {
    /* margin-top: 10px; */
    padding: 10px; /* Less padding */
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-top: 20px;
    overflow: hidden;
  }

  .Logos {
    display: none; /* Hide logos */
  }

  .page-title {
    padding: 0; /* Remove padding */
    text-align: center; /* Center title text */
    font-size: 0.7em;
  }
  /* 
  .logind {
    width: auto; Auto width */
  /* margin-top: 9px; */
  /* height: 20px;
    font-size: 2px;
    text-align:center ;
  } */
}

.links-da {
  text-align: center;
  background-color: #003480;
  font-size: 1em;
}

.links-da ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  background-color: #003480;
}

.links-da li {
  display: inline-block;
  margin-right: 95px;
  margin-left: 35px;
}

.links-da a {
  text-decoration: none;
  padding: 9px 10px;
  opacity: 0.75% #ff0878;
  font-size: 14px;
}

.burger {
  display: none; /* Hidden by default */
  cursor: pointer;
  /* margin: 10px; */
  position: absolute;
  top: 150px; /* Adjust as needed for vertical alignment */
  right: 10px; /* Adjust as needed for horizontal alignment */
}

.burger span {
  font-size: 24px;
  color: #000000;
}

/* Styles for smaller screens */
@media (max-width: 767px) {
  .burger {
    display: block; /* Show burger menu on small screens */
    overflow-x: hidden;
    z-index: 1000001;
  }

  .links-da {
    display: none; /* Initially hide the links on small screens */
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  /* When 'show' class is added, display the links */
  .links-da.show {
    position: relative;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    width: auto;
    display: flex;
    border-radius: 10px;
  }

  .links-da.show ul {
    background: linear-gradient(
      144.39deg,
      #ffffff 91%,
      #6d6d6d -78.47%,
      #11101d -278.56%
    );

    padding-left: 32px;
  }

  .links-da.show ul .nav-col1 li a,
  .links-da.show ul .nav-col2 li a {
    color: #000;
  }

  .links-da.show ul .nav-col1 li a:hover,
  .links-da.show ul .nav-col2 li a:hover {
    color: #ffffff;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .links-da.show ul .nav-col1 {
    padding: 0;
    position: relative;
    margin: 0;
  }
}

/* Styles for larger screens */
@media (min-width: 768px) {
  .links-da {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    color: #fff;
  }

  .links-da ul {
    display: flex;
    justify-content: center; /* Center the list items within the ul */
    list-style: none; /* Optional: removes bullet points from list */
  }
}

.viswa-hero-section {
  height: 100%;
  top: 0px;
  margin-top: 5%;
  margin-left: 9%;
  justify-content: center;
  min-height: 65vh;
  margin-bottom: 30px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9rem;
}
.hero-text {
  overflow: hidden;
  padding: 9px;
}
.hero-text h5 {
  font-size: 14px;
  font-weight: 400;
  color: #140e0e;
  margin-bottom: 20px;
}

.hero-text h1 {
  font-family: "Permanent Marker", cursive;

  font-size: 59px;
  line-height: 1.4;
  color: #042c71;
  /* color: #008778; */
  margin: 0 0 45px;
  overflow-y: hidden;
  background: -webkit-linear-gradient(45deg, #003480, #04aa6d);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text h4 {
  font-size: 18px;
  font-weight: 600;
  color: #090707;
  margin-bottom: 10px;
}

.hero-text p {
  color: #000000;
  font-size: 15px;
  line-height: 1.9;
  margin-bottom: 40px;
  margin-right: 2px;
}

.hero-text a.ctaa {
  background-color: #008778;
  border-radius: 25px;
  width: 100px;
  padding: 10px;
  /* border: 1px solid #000000; */
  margin: 10px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.hero-text a.ctaa i {
  vertical-align: middle;
  margin-right: 5px;
}

.hero-landing-img img {
  width: 95%;
  height: 95%;
  z-index: 1000001;
  border-radius: 90px;
  padding: 40px;
}

.hero-landing-img {
  position: relative;
  width: 505px;
  height: 505px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.hero-landing-img::before {
  content: "";
  position: absolute;
  z-index: 10002;
  /* padding-left: 10px; */
  width: 150px;
  height: 140%;
  background: linear-gradient(#008778, #003480, #042c71, #04aa6d);
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hero-landing-img::after {
  content: "";
  position: absolute;
  background: white;
  inset: 5px;
  border-radius: 50px;
}

@media (max-width: 768px) {
  .viswa-hero-section {
    grid-template-columns: 1fr;
    margin-left: 5%;
    gap: 5rem;
  }

  .hero-landing-img img {
    width: 95%;
    height: 95%;
    padding: 50px;
  }

  .hero-landing-img {
    width: 95%;
    height: auto;
    padding: 0px;
  }

  .hero-text h1 {
    font-size: 30px; /* Adjust as needed */
  }

  .hero-text p {
    font-size: 14px; /* Adjust as needed */
  }

  .hero-text a.ctaa {
    width: auto; /* Allows the button to grow with text */
    padding: 10px 20px; /* More padding for better touch targets */
  }
}

.hero-location {
  background-image: linear-gradient(
    to bottom right,
    rgba(25, 84, 123, 1),
    rgb(0, 135, 120, 1)
  );
  color: white;
  padding: 5% 0% 0% 0%;
  height: 47vh;
}

legend {
  font-size: calc(1.5em + 1vw);
  text-align: center;
}

fieldset {
  width: 80%;
  margin: auto;
  padding: 2% 4%;
}

.s006 form .inner-form .input-field .btn-search {
  width: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 82%;
  margin-top: 13px;
  position: absolute;
  color: #003480 !important;
  left: 0;
  /* height: 13%; */
  /* padding: 0% 0% 4% 0%; */
  cursor: pointer;
  background: transparent;
}

.pubin {
  width: 90%;
  padding: 12px 4%;
  margin: 8px 0px 0px 55px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
}

.s006 form .suggestion-wrap {
  padding: 2% 5%;
}

.s006 form .suggestion-wrap span {
  font-size: 12px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.5rem 1rem;
  line-height: 32px;
  color: #fff;
  border-radius: 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Waves styling */
.waves {
  position: relative;
  width: 100%;
  margin-top: 10px;
  max-height: 150px;
  overflow: hidden;
}

.parallax {
  overflow: hidden;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  overflow: hidden;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  overflow: hidden;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  overflow: hidden;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  overflow: hidden;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  overflow: hidden;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* Mobile-specific adjustments */
@media only screen and (max-width: 768px) {
  fieldset {
    width: 95%;
  }

  .s006 form .inner-form .input-field .btn-search {
    width: 15%;
    margin-top: 15px;
    margin-left: 79%;
  }

  .pubin {
    width: 80%;
    padding: 12px 2%;
    margin: 8px 0px 10px 35px;
  }

  .s006 form .suggestion-wrap {
    padding: 0 1%;
  }

  .hero-location {
    height: 43vh;

    overflow-y: hidden;
  }
}

.input-p {
  width: 50% !important;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
}

.bulk-da button {
  margin: 10px;
  border: none;
  border-radius: 25px;
  padding: 12px 16px; /* Reduce padding to make buttons smaller */
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #00171f;
  opacity: 0.8;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect */
.bulk-da button:hover {
  background-color: #0056b3;
}

.bulk-da {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.bulk-da button {
  margin: 10px;
  top: 0;
  border-radius: 15px;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  margin: 90px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Footer.css */

.footer {
  /* margin-top: 39%; */
  background-color: light;
  text-align: center;
  color: #6c757d;
}

.footer1 {
  background-color: light;
  text-align: center;
  color: #6c757d;
}

.social-section {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 18px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dee2e6;
}

.social-section span {
  margin-right: 5rem;
}

.social-links a {
  margin-right: 1rem;
  color: #6c757d;
  text-decoration: none;
}

.social-links a:hover {
  color: #000;
}

@media only screen and (max-width: 768px) {
  .social-section {
    padding: 2px;
    font-size: 15px;
    display: block;
  }

  .social-links {
    margin: 20px;
  }

  .social-links a {
    /* margin-right: 1rem; */
    color: #6c757d;
    text-decoration: none;
    padding: 0;
    margin-right: 40px;
  }

  .social-links a:hover {
    color: #000;
  }
}

.footer-content {
  text-align: center;
  text-align: md-start;
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
}

.column {
  margin-bottom: 2rem;
}

.column h6 {
  font-weight: bold;
  margin-bottom: 1rem;
}
.Hightt {
  color: #003480;
  font-size: 20px;
}
.column p {
  margin-bottom: 1rem;
  /* Set a specific height for the paragraph container */
  max-height: 100px; /* Adjust this value based on your preference */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5; /* Adjust the line height for better readability */
}

.copyright-section {
  text-align: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 768px) {
  .footer-content .column:nth-child(2),
  .footer-content .column:nth-child(3) {
    display: none;
  }
  .footer-content {
    flex-direction: column;
  }
}

/* Login.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: difference;
  height: 90vh;
}

.login-content {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 25px;
  width: 100%; /* Full width on smaller screens */
  max-width: 650px; /* Max width on larger screens */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for better visibility */
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #042c71;
}

.login-content label {
  font-weight: bold;
}

.login-content input {
  width: 55%;
  color: #042c71;
  font-size: 15px;
  padding: 10px 20px;
  margin-bottom: 1rem;
  border: 1px solid #ced4da;
  border-radius: 10px;
}

.login-content button {
  padding: 0.75rem;
  background-color: #042c71;
  color: #fff;
  border: none;
  border-radius: 10px;
  display: block; /* Ensures the button is a block-level element */
  margin-left: auto; /* Automatically adjusts left margin */
  margin-right: auto; /* Automatically adjusts right margin */
  width: 25%;
}
.login-content a {
  display: block;
  margin-top: 1rem;
  text-align: center;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.signup-btn {
  position: relative;
  justify-content: center;
  display: flex;
}

/* Media Queries */
@media (max-width: 768px) {
  .login-content {
    width: 90%; /* More width on smaller screens */
    border-radius: 25px;
  }

  .login-container {
    padding: 25px;
  }
}

.wrapper {
  width: 800px;
  height: 600px;
  position: relative;
  margin: 3% auto;
  box-shadow: 2px 18px 70px 0px #9d9d9d;
  overflow: hidden;
  border-radius: 25px;
}

.login-text {
  width: 800px;
  height: 450px;
  background: linear-gradient(210deg, #1067b3, #7397d4, #003480);
  position: absolute;
  top: -300px;
  box-sizing: border-box;
  padding: 6% 6% 2% 6%;
  transition: all 0.5s ease-in-out;
  z-index: 11;
  /* overflow: hidden; */
}

.text {
  margin-left: 20px;
  color: #fff;
  display: none;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.3s;
  justify-content: center; /* Center content horizontally */
  align-items: center;
}

.cta {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #696a86;
  border: 2px solid #fff;
  position: absolute;
  bottom: -30px;
  left: 370px;
  color: #fff;
  outline: none;
  cursor: pointer;
  z-index: 11;
}

.call-text {
  background-color: #fff;
  width: 800px;
  height: 450px;
  position: absolute;
  bottom: 0;
  padding: 10%;
  box-sizing: border-box;
  text-align: center;
}

.call-text h1 {
  font-size: 42px;
  /* margin-top: 10%; */
  color: #696a86;
}

.call-text h1 span {
  color: #333;
  font-weight: bolder;
}

.call-text button {
  height: 40px;
  width: 180px;
  border: none;
  border-radius: 20px;
  /* background: linear-gradient(210deg, #1067b3, #0e9c40,#7397d4, #003480);  */
  background: linear-gradient(210deg, #1067b3, #7397d4, #003480);
  color: #fff;
  font-weight: bolder;
  margin-top: 30px;
  cursor: pointer;
  outline: none;
}
.login-text.expand {
  top: 0;
}

.show-hide {
  display: block;
}

.expand {
  transform: translateY(1px);
}

.admin-da {
  display: flex;
}

.emplo-city .btn-search {
  width: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 87%;
  margin-top: 10px;
  position: absolute;
  color: #003480 !important;
  left: 0;
  /* height: 13%; */

  /* padding: 0% 0% 4% 0%; */
  cursor: pointer;
  background: transparent;
}

.emplo-city .btn-search svg {
  background: 0 0;
  width: 30px;
  height: 30px;
  transition: all 0.2s ease-out, color 0.2s ease-out;
}

.weltext h1 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-left: 120px;
  color: rgba(255, 255, 205, 0.6);

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 23px;
}

/* .wierd {
  border-radius: 10px; */
/* width: auto; */
/* padding: 10px 11px;
  background-color: transparent;
  font-size: 14px;
  color:#fff;
} */

/*Responsive code*/
/* Default styles for buttons */
.wierd {
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #003480;
  font-size: 16px;
  color: #fff;
  margin: 5px; /* Add margin for spacing between buttons */
}

/* Media query for smaller screens */
@media screen and (max-width: 767px) {
  .wierd {
    width: 100%; /* Make the buttons take up the full width on smaller screens */
    margin: 5px 0; /* Adjust margin for better spacing on smaller screens */
  }
}

/* Hover effect for better visibility */
/* .wierd:hover {
  background-color: #fff;
  color: #000;
} */

.weltext p {
  font-size: 35px;
  font-weight: 900;
  /* color:rgba(200, 12, 56, 0.6);  */
  color: #000;
  text-decoration: underline;
  text-underline-offset: 5px;
  /* font-family: 'Whisper', cursive; */
  top: 0;
  text-transform: uppercase;
  padding-left: 6px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-right: 10px;
  padding-bottom: 20px;
  text-align: center;
}
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border-bottom: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  width: 50%;
  justify-content: center;
  line-height: 24px;
  /* max-width: 100%; */
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 25px;
  margin-top: 60px;
}

.final-but {
  /* align-items: center; */
  margin-left: 170px;
}
.button-56:after {
  background-color: #050718;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -10;
}

.buttons-da {
  display: flex;
  justify-content: space-around;
}

.button-56:hover {
  color: #ffffff;
}

.button-56:hover:after {
  transform: translate(0, 0);
  /* z-index: 100; */
  background-image: linear-gradient(to bottom left, #17a477, #17a477, #4cb108);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

blockquote {
  font-weight: 100;
  font-size: 1rem;
  max-width: 600px;
  line-height: 1.4;
  position: relative;
  margin-left: 15px;
  margin-right: 25px;
  top: 15px;
}

blockquote:before,
blockquote:after {
  position: absolute;
  /* background-image: linear-gradient(315deg, #008778, #f7ff0b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text; */

  color: rgba(255, 255, 205, 0.3);
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
}

blockquote:before {
  content: "“";
  left: -0.2rem;
  top: -0.5rem;
}

blockquote:after {
  content: "”";
  right: -2.2rem;
  bottom: 1.1rem;
}

.body {
  background: #f6f5f7;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

.body .container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: scroll;
  width: 1215px;
  max-width: 100%;
  min-height: 680px;
}

.form-container1 {
  position: relative;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  width: 50%;
  padding: 50px;
  overflow-y: scroll;
}
.CenterStyle {
  height: 300px;
  overflow-y: scroll;
}

.admin-das {
  height: 500px;
  overflow-y: scroll;
}

.admina input {
  width: 100%;
  padding: 10px;
  /* margin: 10px; */
  margin-left: 6%;
  border: 2px solid #000;
  border-radius: 10px;
}

.admina button {
  width: 50%;
  /* width: 15%; */
  padding: 10px;
  margin: 10px;
  background-color: #003480;
  border-radius: 10px;
  /* font-size: large; */
  color: white;
}

.admina img {
  padding-left: 10px;
  padding-right: 10px;
}

.admina {
  display: flex;
  padding: 10px;
  margin-left: 49px;
  align-items: center;
  justify-content: space-between;
}

.admina h3 {
  justify-content: space-around;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  width: 50%;
  padding: 10px;
  overflow-y: scroll;
  flex: 2;
}

.form-container button {
  border-radius: 25px;
  width: 50%;
  /* background-image: linear-gradient(315deg, #008778, #f7ff0b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text; */
  background-color: #007bff;
  font-size: medium;
  box-shadow: 4px 4px 4px 0px #9d9d9d;
}
.welcfoot {
  width: 100%;
  height: 20%;
}
.form-container h4 {
  font-size: larger;
  color: #008778;
}
.body .overlay-container {
  position: absolute;
  top: 0;
  left: 60%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.body .container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.body .overlay {
  background: #008778;
  /* #FF416C */
  background: -webkit-linear-gradient(to right, #ff4b2b, #008778);
  background: linear-gradient(to right, #eebab1, #008778);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.body .container.right-panel-active .overlay {
  transform: translateX(50%);
}

.body .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.body .overlay-left {
  transform: translateX(-20%);
}

.body .container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.body .overlay-right {
  right: 0;
  transform: translateX(0);
}

.Excel-da {
  /* width: 100%;
  
  */
  height: 60%;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  justify-content: center;
  padding: 50px;
}

.Excel-da h1 {
  border-radius: 25px;
  background-color: #7ab1aa;
  max-width: 60%;
  color: #062f5c;
  margin-left: 250px;
}

.Latt-da {
  width: 95%;
  /* height: 80vh;   */
  margin: 10px;
  border-radius: 10px;
  background-color: #019994;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  text-align: center;
  padding: 20px;
}

/* MapsForm.css */

.Latt-da .place-name {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 4px;
  width: auto;
  font-size: 16px;
}

.Latt-da .mapsForm-container {
  position: relative;
}
/* Overall Layout */
.Latt-da .mapsForm-container {
  display: flex;
  /* justify-content: center; */
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.Latt-da .form-container,
.Latt-da .map-container {
  flex: 1;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Form Styling */
.Latt-da .form-container {
  background: white;
  padding: 20px;
}

.Latt-da .form-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Latt-da .form-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.Latt-da .form-container input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  margin-left: 10px;
}

.Latt-da .button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.Latt-da .button:hover {
  background-color: #0056b3;
}

/* Map Container */
.Latt-da .map-container {
  height: 400px; /* Adjust as needed */
  margin: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .mapsForm-container {
    flex-direction: column;
  }

  .map-container {
    height: 300px;
  }
}

.Latt-da h1 {
  /* font-size: 80px; */
  font-weight: 500;
  background: linear-gradient(175deg, #be1515 35%, rgb(70, 14, 183));
  background-size: 200% auto;
  background-clip: text;

  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 1.5s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 75%;
  }
  50% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 0% 70%;
  }
}

.button-55 {
  align-items: center;
  background-color: #37a329;
  border-bottom: 2px solid #f5f1f1;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  width: 35%;
  justify-content: center;
  line-height: 24px;
  /* max-width: 100%; */
  /* padding: 0 25px; */
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 25px;
  /* margin-top: 60px; */
}

.button-55:hover {
  color: #ffffff;
}

.button-55:hover:after {
  transform: translate(0, 0);
  /* z-index: 100; */
  background-image: linear-gradient(to bottom left, #17a477, #17a477, #4cb108);
}

.button-55:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-55:hover {
  outline: 0;
}

.button-54 {
  align-items: center;
  background-color: #f1750f;
  border-bottom: 2px solid #f5f1f1;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  width: 35%;
  justify-content: center;
  line-height: 24px;
  /* max-width: 100%; */
  /* padding: 0 25px; */
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 25px;
  /* margin-top: 60px; */
}

.button-54:hover {
  color: #ffffff;
}

.button-54:hover:after {
  transform: translate(0, 0);
  /* z-index: 100; */
  background-image: linear-gradient(to bottom left, #17a477, #17a477, #4cb108);
}

.button-54:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-54:hover {
  outline: 0;
}

.admin-land {
  width: 90%;
  margin: 5%;
  padding: 20px;
  background-color: #019994;
  border-radius: 25px;
}

.admin-land .weltext h1 {
  padding-left: 35%;
}

.container h1 {
  padding-left: 37%;
  font-family: "Hedvig Letters Serif", serif;
  font-size: 27px;
  opacity: 0.8;
  letter-spacing: 2px;
  color: #093182;
  padding-top: 25px;
}

.emplo-city {
  padding-left: 125px;
  padding-top: 12px;
}

/* YourComponent.css */
.employee-values {
  background: #007ea7;
  padding: 3%;
  margin: 5%;
  border-radius: 25px;
  color: #000;
}
.employee-values input {
  width: calc(100% - 40px); 
  max-width: 400px; /* Set maximum width to prevent overly stretched inputs */
  padding: 12px 20px;
  margin: 8px 0;
  display: block; /* Change display to block for responsiveness */
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
}
.employee-values .btn-search {
  width: 100%; /* Set width to 100% for responsiveness */
  max-width: 100px; /* Set maximum width if needed */
  margin: 10px auto; /* Center the button horizontally and provide vertical margin */
  display: block; /* Change display to block for responsiveness */
}

.employee-values h4 {
  margin: 10px;
  font-size: 19px;
}

/* YourComponent.css */
.admin-da {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Horizontally center the flex items */
}

.admin-da input {
  flex: 1; /* Each input takes up equal space */
  margin: 8px;
}

.check-da input {
  width: 100% !important;
  /* padding: 10px; */
  /* margin: 10px; */
}

.check-da {
  margin: 9px;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.admin-ta {
  margin: 40px;
  overflow-x: auto; /* Enable horizontal scrolling on small screens */
}

.admin-ta table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 8px;
  overflow-x: auto; /* Enable horizontal scrolling on small screens */
}

.admin-ta th{
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  font-weight: bold;
  background-color: #f2f2f2;
}

.admin-ta td .submit-ta{
  background-color: #13a421;
  border-radius: 25px;
  margin-right: 6px;
  font: 12px sans-serif;
  padding: 10px;
  color:#fff;
}

.admin-ta td .cancel-ta {
  border-radius: 25px;
  background-color: red;
  margin-right: 6px;
  font: 12px sans-serif;
  padding: 10px;
  color:#fff;
}



.admin-ta td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  font-weight: bold;
  vertical-align: middle; /* Center content vertically */
  color: #fff;
}

.admin-ta input[type="checkbox"] {
  margin: 0 auto; /* Center the checkbox horizontally */
}


/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .admin-da {
      flex-direction: column; 
      justify-content: center;
      align-items: center; /* Center flex items vertically */
  }
  .admin-ta td .submit-ta,
    .admin-ta td .cancel-ta {
        width: 100%; /* Make buttons full width on smaller screens */
        margin: 5px 0; /* Adjust margin for smaller screens */
    }

  .employee-values input {
      max-width: 100%; /* Make inputs full width on smaller screens */
      width: calc(100% - 20px); /* Adjust width to accommodate padding */
  }

  .employee-values .btn-search {
      max-width: none; /* Reset max-width on larger screens */
      width: auto; /* Reset width on larger screens */
      margin: 10px 0; /* Reset margin on larger screens */
      float: right; /* Float the button to the right on larger screens */
  }

  .admin-da input {
      width: 70%; 
  }

  .check-da {
      margin: 0; 
  }

  .admin-ta {
      margin: 20px; 
  }

  .admin-ta th,
  .admin-ta td {
      font-size: 14px; 
  }

  .check-da {
      margin: 0; /* Reset margin */
  }


  .bulk-da button {
      width: auto;
      margin: 6px;

  }
}



.jd-mail {
  justify-content: center; /* For flex containers */
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  height: auto;
  width: 80%;
  background-color: #008778;
  border-radius: 10px;
}

.jd-mail button {
  background-color: #13a421;
  border-radius: 25px;
  width: 40%;
  margin-right: 6px;
  font: 12px sans-serif;
  padding: 10px;
  margin: 10px;
}

.jd-mail ul {
  background-color: rgb(218, 206, 206);
  border-radius: 10px;
  padding: 5px;
}
.jd-mail li {
  margin: 10px;
  padding: 3px;
  /* border-right: 1px solid #000; */
}

.Admin-title {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.Admin-title h1 {
  text-align: center; /* Optional: Center the text within the h1 element */
  text-transform: capitalize;
  padding-top: 18px;
}
/* .profile-form-container {
  display: flex;
  background-color: yellow;
  max-width: 800px;
  margin: 20px auto;
  position: relative;
  border-radius: 15px;
  flex-wrap: wrap;
} */

.profile-form-container {
  display: flex;
  background-color: yellow;
  max-width: 800px;
  margin: 20px auto;
  position: relative;
  border-radius: 15px;
  flex-wrap: wrap;
}

.profile-form-container .sidebar {
  width: 30%;
  padding: 20px;
  background-color: #f1f1f1; /* Light grey color for the sidebar */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 15px;
  flex: 1;
  min-width: 200px;
}

.profile-form-container .profile-details {
  margin-bottom: 20px;
  position: relative;
}

.profile-form-container h2 {
  font-size: 18px;
  margin-bottom: 10px;
  position: relative;
}

.profile-form-container .links a {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
  position: relative;

  transition: background-color 0.3s;
}

.profile-form-container .links a:hover {
  background-color: #ddd;
  position: relative;
}

.profile-form-container .form-container {
  width: 70%;
  position: relative;
  padding: 20px;
}

.profile-form-container .upload-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.profile-form-container .upload-container span {
  font-weight: bold;
  position: relative;
}

.example-image-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-form-container .example-image-container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.profile-form-container .example-image-container span {
  font-weight: bold;
  position: relative;
}

.profile-form-container .input-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 10px; /* Add margin between input containers */
  position: relative;
  margin-top: 10px; /* Add margin between input containers */
}

.profile-form-container .input-container input {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  width: 90%;
}

.profile-form-container .button-container {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  margin-top: 10px;
}

.profile-form-container button {
  padding: 12px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  position: relative;

  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.profile-form-container button:hover {
  background-color: #45a049;
  position: relative;
}
.profile-form-container .submitted-details {
  padding: 80px;
  border-radius: 8px;
  margin-bottom: 0px;
  text-align: center;
  align-items: center;
  background-color: #fff;
  max-width: 800px;
  margin: 20px auto;
  position: relative;
}

.profile-form-container .no-details-message {
  background-color: #ffffff;
  padding: 120px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}
/* Add a media query for smaller screens */
@media screen and (max-width: 767px) {
  .profile-form-container {
    flex-direction: column;
    justify-content: center;
  }

  .profile-form-container > * {
    margin: auto;
  }
  .form-container {
    order: -1; /* Move the form container above the sidebar on smaller screens */
  }

  .sidebar,
  .form-container {
    width: 100%;
  }
}
/* .wierd-ad {
  max-width: 12%;
  display: flex; Add this line */
/* justify-content: center;
  margin: 1px auto;
  padding: 8px;
  margin-top: 20px;
  align-items: center;
  text-align: center;
  font-size: 14px;
  border-radius: 15px;
  font-family: Tahoma, Verdana, sans-serif;
  letter-spacing: 1.5px;
} */

/*responsive code*/
.wierd-ad {
  max-width: 12%;
  display: flex;
  justify-content: center;
  margin: 1px auto;
  padding: 8px;
  margin-top: 20px;
  align-items: center;
  text-align: center;
  font-size: 14px;
  border-radius: 15px;
  font-family: Tahoma, Verdana, sans-serif;
  letter-spacing: 1.5px;
}

/* Add a media query for smaller screens */
@media screen and (max-width: 767px) {
  .wierd-ad {
    max-width: 100%; /* Adjust max-width for smaller screens */
  }
}

.body1 {
  background: linear-gradient(to right, #0e427d, #5bc8bd) !important;
  height: 90vh;
}
.body1 svg {
  position: relative;
  top: 55%;
  left: 50%;
  margin-top: -300px;
  margin-left: -400px;
}
.body1 .message-box {
  height: 200px;
  width: 380px;
  position: absolute;
  top: 60%;
  left: 55%;
  margin-top: -100px;
  margin-left: 50px;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 300;
}
.body1 .message-box h1 {
  font-size: 60px;
  line-height: 46px;
  margin-bottom: 40px;
}
.body1 .buttons-con .action-link-wrap {
  margin-top: 40px;
  /* display: flex; */
}
.body1 .buttons-con .action-link-wrap a {
  background: #68c950;
  padding: 8px 25px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
}
.body1 .buttons-con .action-link-wrap a:hover {
  background: #5a5c6c;
  color: #fff;
}

#Polygon-1,
#Polygon-2,
#Polygon-3,
#Polygon-4,
#Polygon-4,
#Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
}
#Polygon-2 {
  animation-delay: 0.2s;
}
#Polygon-3 {
  animation-delay: 0.4s;
}
#Polygon-4 {
  animation-delay: 0.6s;
}
#Polygon-5 {
  animation-delay: 0.8s;
}

@keyframes float {
  100% {
    transform: translateY(20px);
  }
}

@media (max-width: 450px) {
  .body1 svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -190px;
  }
  .message-box {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -190px;
    text-align: center;
  }
}

.Excel-da .styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  width: auto;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.Excel-da .styled:hover {
  background-color: rgba(255, 0, 0, 1);
}

.Excel-da .styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/* styles.css */

.man-button-container {
  margin: 25px;
  padding: 25px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px; /* Adjust the gap between buttons */
}

.man-button-container button {
  padding: 6px 4px; 
  font-size: 16px; /* Adjust font size as needed */
  background-color: #ffffff; /* Adjust button background color */
  color: #1956b1; /* Adjust button text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex-basis: calc(33.33% - 10px); /* Divide into three columns */
}

.man-button-container button:hover {
  background-color: #dce0a0; /* Adjust button hover background color */
}

.Main-Field-form h2{
  text-align: center;
  margin-bottom: 10px;
}
.Main-Field-form .field-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.Main-Field-form .field-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-right: 30px;
}

.Main-Field-form .form-group {
  margin-bottom: 15px;
}

.Main-Field-form label {
  font-weight: bold;
}

.Main-Field-form input[type="text"],
.Main-Field-form input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.Main-Field-form .submit-btn {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Main-Field-form .submit-btn:hover {
  background-color: #0056b3;
}
